body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(77, 5, 19);

}

.app{
  margin-top: 50px;
  padding: 50px;
  background-color: #5e0e03;
}
.form1{
  margin-bottom: 25px;
}
.form1 input{
  font-size: 50px;
}
.form1 button{
  font-size: 50px;
}
.li-class{
  font-size: 50px;
  padding: 15px 0 15px 0;
  margin: 15px 0 15px 0;
  list-style-type: none;}

.li-class span {
  margin-right: 10px;
  text-decoration: none;
}
.li-class button {
  margin-left: 100px;
  font-size: 30px;
}